<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="layouts/root_layout"
      lang="en">
<head>
    <title>home ....</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="./css/contentArea.css"
          th:href="@{/css/contentArea.css}" rel="stylesheet" media="screen"/> 
</head>
<body>

<div layout:fragment="page-content">
 
   <div class="container">
      <div class="" style="height: 600px; ">
        
        <h1 th:inline="text">Hello [[${user}]]!  Well come to sample app</h1>
        
      </div>
      
    </div>
 
 
 
</div>

</body>
</html>